<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="trace-vpos2time" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>JSON_LOG %m%n</pattern>
            </PatternLayout>
        </Console>
        <File name="FileAppender" fileName="application-${date:yyyyMMdd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <Async name="async-trace-vpos2time" bufferSize="10000">
            <AppenderRef ref="trace-vpos2time"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="VPOS2_TIME" level="debug">
            <AppenderRef ref="async-trace-vpos2time" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>